.contenido-expandible{
  display: none !important;
  overflow: hidden !important; /* Oculta cualquier contenido que pueda sobresalir */
  transition: height 0.7s ease !important; /* Transición suave de altura */
  height: 0 !important; /* Altura inicial cero */
}

.mostrar {
  display: block !important; /* Muestra el contenido cuando se agrega esta clase */
  height: auto !important; /* Establece la altura automática para mostrar todo el contenido */
}

/* Estilos para el pop-up */
#videoPopup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: 100%;
  min-height: 300px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#closePopup{
	display: flex;
    align-items: center;
    justify-content: flex-end;
	padding-bottom: 15px;
}

#closePopup img{
	transform: rotate(45deg);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

button {
  margin: 10px;
}

/* Clase para desactivar el scroll */
.no-scroll {
  overflow: hidden;
}

.elementor-popup-modal.dialog-type-lightbox { /* Pop Up de Elementor */
  z-index: 1000000; 
}

.bdt-ep-accordion-item {
  z-index: 1;
  position: relative;
}

.dc__tabs_guide_01 .bdt-ep-accordion-icon {
  position: relative;
}

.dc__tabs_guide_01 .bdt-ep-accordion-icon::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.bdt-ep-accordion-item.bdt-open:nth-child(8) .bdt-ep-accordion-item.bdt-open .bdt-ep-accordion-icon {
  transform: rotate(180deg);
}