/* Estilos para el pop-up */
#teamPopup * {
  margin: 0;
} 

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}

#closePopup {
  position: absolute;
  right: 49px;
  top: 56px;
  transform: rotate(45deg);
  cursor: pointer;
}

#closePopup img {
  aspect-ratio: 1;
  width: 53px;
}

@media screen and (max-width: 768px) {
  #closePopup {
    right: 10px;
    top: 10px;
  }

  #closePopup img {
    width: 46px;
  }
}

/* Clase para desactivar el scroll */
.no-scroll {
  overflow: hidden;
}

#teamPopup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  min-height: 300px;
  max-height: 100vh;
  overflow-y: auto;
  padding: 40px;
  padding-top: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#teamPopup .popup__header {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 28px;
  font-family: "Aleo", Sans-serif;
  margin-bottom: 47px;
}

#teamPopup .member__profile {
  max-width: 223px;
  width: 100%;
  aspect-ratio: 0.86;
  object-fit: cover;
  object-position: top;
}

#teamPopup .header__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 412px;
}

#teamPopup .member__type {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #E3E3E3;
}

#teamPopup .member__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #0F0E0E;
}

#teamPopup .member__position {
  font-family: "Noto Sans", Sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1E1E1E;
}

#teamPopup .member__divider {
  height: 1px;
  width: 95.5px;
  background-color: #1E1E1E;
  margin-bottom: 5px;
}

#teamPopup .popup__body {
  font-family: "Noto Sans", Sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #2C3233;
}

#teamPopup .popup__footer {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

#teamPopup .popup__footer .footer__links {
  font-family: "Noto Sans", Sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0F0E0E;
}

#teamPopup .popup__footer .footer__links::after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background-color: #11D2D2;
  transition: all .3s ease-in;
  margin: auto;
}

#teamPopup .popup__footer .footer__links:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #teamPopup .member__type {
    font-size: 36px;
  }
}