.trem-team{
  display: flex;
  width: 100%;
}
.trem-team__item{
  width: 90px;
  box-sizing: border-box;
  transition: .5s ease-in-out;
}
.trem-team__item.active{
  width: 70%;
}
.trem-team__item.active .trem-team__item__content{
  opacity: 1;
  width: calc(100% - 90px);
  margin-left: auto;
}
.active .trem-team__item__tab img{
	max-width: 50%;
}
.trem-team__item.active .trem-team__item__text{
	width: 90px;
}
.team__item__text{
  width: 90px;
	position: relative;
  top: 150px;
	z-index: 1;
  padding: 10px;
}
.team__item__text .dc__accordeon_step-letter {
  font-family: "Aleo", Sans-serif;
  font-style: italic;
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
  color: #F9DA32;
}
.team__item__text .dc__accordion_step-title {
  font-family: "Roboto", Sans-serif;
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: white;
}
.trem-team__item__tab{
  margin: 0;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 600px;
}
.trem-team__item:nth-child(n+1) .trem-team__item__tab{
  background-color: #452D9D;
}
.trem-team__item:nth-child(n+2) .trem-team__item__tab{
  background-color: #7774ED;
}
.trem-team__item:nth-child(n+3) .trem-team__item__tab{
  background-color: #3BAFD4;
}
.trem-team__item__fig__caption__name{
	font-family: "Avenir Next Bold", Sans-serif !important;
    font-size: 25px;
	font-style: normal;
}
.trem-team__item__fig__caption__desc{
	font-family: "Avenir Next Regular", sans-serif !important;
    font-size: 14px;
	line-height: 16.5px;
	font-style: normal;
}
.trem-team__item__content{
  box-sizing: border-box;
  opacity: 0;
}
.trem-team__item__fig__img{
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 25% top;
}